:root{
--black:#101217;
--light-black:#1d1f25;
--grey:#797e9a;
--green:#66a663;
--light-green:#2af599;
---white:#fff;
--orange:#dbac36;

}
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: var(--black);
  padding: 20px;
}
header{
  display: flex;
  border-radius: 20px;
  background-color:var(--light-black);
  padding: 20px;
  align-items: center;
  gap: 15px;
}
header img{
  height: 80px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s; /* Плавный переход */
}

header img:hover {
  transform: scale(1.05); /* Увеличение на 5% */
}
header img:active {
  transform: scale(1); /* Возврат к изначальному размеру при нажатии */
}
h1{
  text-transform: uppercase;
}
.exit{
  color: #0DBBDD;
  text-decoration: underline;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s; /* Плавный переход */
}

.exit:hover {
  transform: scale(1.05); /* Увеличение на 5% */
  text-shadow: 0 1px 10px #0DBBDD; /* Тень цвета #0DBBDD */
}
.exit:active {
  transform: scale(1); /* Возврат к изначальному размеру при нажатии */
}
main{
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap-reverse;
}
.gridBlocks{
  background-color: var(--light-black);
  padding: 20px;
  border-radius: 20px;
  flex-grow: 1000;
}
.area{
  display: grid;
  grid-template-columns: repeat(10,calc(0.6vw + 18px));
  gap: 5px;
  justify-content: center;
}
.cell{
  height: calc(0.6vw + 18px);
  width: calc(0.6vw + 18px);
  background-color: #0DBBDD;
  border-radius:3px;
  text-align: center;
  font-weight: bold;
  line-height: calc(0.6vw + 18px);
  font-size: calc(0.9vw + 13.2px);
  cursor: pointer;
}
.cell.light {
    background-color: #2af599;
}

.cell.dark {
    background-color: #0DBBDD;
}

.pointsBlocks {
  background-color: var(--light-black);
  padding: 20px;
  border-radius: 20px;
  flex-grow: 1;
  width: 250px;
}
h2{
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.inputBlock{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  
}
label {
  background-color: #101217; /* Изначальный цвет */
  padding: 5px;
  border-radius: 30px;
  min-width: 100px;
  text-align: center;
  flex-grow: 1;
  cursor: pointer;
  transition: outline 0.3s, transform 0.3s; /* Плавный переход для обводки и трансформации */
  box-sizing: border-box; /* Учитывать padding и border в размерах */
}
.light-label {
    background-color: #fafbff;
}

.dark-label {
    background-color: #101217;
}

label input {
  display: none;
}

label:has(input:checked) {
  background-color: #0DBBDD; /* Цвет при нажатии */
}

label:hover {
  outline: 1px solid #0DBBDD;
  box-shadow: 0 1px 10px #0DBBDD;
  transform: scale(1.05); /* Увеличение на 5% */
}

label:active {
  transform: scale(1); /* Возврат к изначальному размеру при нажатии */
}

.btn {
  background: linear-gradient(to right, #2af599 20%, #0DBBDD 100%);
  color: #fdfdfd;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  height: 60px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s; /* Плавный переход */
}

.btn:hover {
  transform: scale(1.05); /* Увеличение на 5% */
  box-shadow: 0 1px 10px #0DBBDD; /* Тень цвета #0DBBDD */
}
.btn:active {
  transform: scale(1); /* Возврат к изначальному размеру при нажатии */
}

.cell.active{
  background-color:var(--light-green);
  background-size: contain;
}
.cell.passiv{
  background-color:var(--grey);
  background-size: contain;
}
.cell.flag{
  background-image: url(./img/47cef0af-81a2-44b0-9500-52f2cfe8dfbf.png);
  background-color: var(--green);
  background-size: contain;
}
.cell.bomb{
  background-image: url(./img/292a20bc-9e2b-4167-954c-9bc509f18874.png);
  background-color: var(--orange);
  background-size: contain;
}